body {
	font-family: "Poppins", sans-serif;
	background: linear-gradient(
		180.3deg,
		rgb(221, 221, 221) 5.5%,
		rgb(110, 136, 161) 90.2%
	);
}

.container {
	max-width: 1500px;
	margin: 0 auto;
}

h2.text-center {
	text-align: center;
	display: block;
	margin: 0 auto;
}

header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url("images/istanbulHeader.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	text-align: center;
	padding: 250px 100px 300px 100px;
}

header h1 {
	margin: 30px 0;
	font-family: "Poppins", sans-serif;
	font-size: 96px;
	font-weight: 600;
	line-height: 1;
	letter-spacing: 0em;
}

header h2 {
	margin: 0;

	font-family: "Poppins", sans-serif;
	font-size: 40px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0em;
	text-align: center;
}
header h3 {
	margin: 0;
	font-family: "Poppins", sans-serif;
	font-size: 24px;
	font-weight: 900;
	line-height: 1.5;
	letter-spacing: 5px;
	text-align: center;
}

header a {
	color: #272044;
	padding: 12px 26px;
	display: inline-block;
	background: rgba(255, 255, 255, 0.6);
	text-decoration: none;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 3px;
	text-align: center;
	text-transform: uppercase;
}

footer {
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px 20px;
	color: white;
	background-image: linear-gradient(
			112.1deg,
			rgb(32, 38, 57, 0.8) 11.4%,
			rgb(63, 76, 119, 0.8) 70.2%
		),
		url("images/istanbulFooter.jpg");
}

footer h3 {
	margin: 0;
	font-family: "Poppins", sans-serif;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.5;
}

footer p {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0px;
	text-align: left;
}

footer li {
	margin: 0;
	list-style: none;
}

footer ul {
	padding-inline-start: 0;
}
footer a {
	margin: 0;
	color: white;
	opacity: 0.7;
}

section {
	max-width: 100%;
	margin: 0 auto;
	padding: 100px 0;
}

section.secondary {
	background: #f8f8f8;
	padding: 50px 150px 150px 150px;
	text-align: center;
}

.grid {
	display: grid;
	grid-template-columns: 2fr 2fr 2fr;
}

.grid-2-columns {
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
	margin: 0 150px;
}
.grid-3-columns {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}

.card {
	background: white;
	padding: 10px;
}
.card img {
	display: block;
}
.btn {
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 16px 32px;
	gap: 10px;
	background: #462cb3;
	text-decoration: none;
	margin: 15px;
}
img {
	margin-top: 15px;
	width: 650px;
	height: 630px;
}

main {
	background-color: rgba(255, 255, 255);
}

main h2 {
	width: 536px;
	height: 24px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 5px;
	color: #272044;
	opacity: 0.3;
}
main h3 {
	height: 90px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
}

main p {
	font-family: "Poppins";
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0px;
	text-align: left;
	opacity: 0.7;
}
h4 {
	height: 36px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 36px;
	color: #272044;
}

h5 {
	height: 20px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	line-height: 20px;
	color: #272044;
}
.secondary img {
	width: 185px;
	height: 185px;
}

h4,
h5 {
	text-align: left;
}
@media (max-width: 1400px) {
	header {
		padding: 60px 0;
	}

	header h1 {
		font-size: 48px;
	}

	header h2 {
		font-size: 20px;
	}

	header h3 {
		font-size: 12px;
	}

	.section {
		max-width: 900px;
	}

	.grid {
		grid-template-columns: 1fr;
	}
	.grid-2-columns {
		grid-template-columns: 1fr;
		grid-gap: 10px;
		margin: 20px;
	}

	img {
		margin-top: 20px;
		width: 320px;
		height: 300px;
	}
}
